mixin addPicture(imgAvifSrc, imgWebpSrc, imgClass, imgSrc, imgAlt, imgWidth, imgHeight)
  picture
    source(type="image/avif", srcset= imgAvifSrc)
    source(type="image/webp", srcset= imgWebpSrc)
    img(
      class= imgClass
      src= imgSrc,
      alt= imgAlt,
      width= imgWidth,
      height= imgHeight
    )
